{
  "openapi": "3.1.0",
  "info": {
    "title": "Feedling API",
    "version": "v1",
    "description": "HTTP API for Feedling accounts, encrypted chat, agent memory, model routing, perception, and proactive experiences."
  },
  "servers": [
    {
      "url": "https://api.feedling.app",
      "description": "Production"
    },
    {
      "url": "https://test-api.feedling.app",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "RuntimeTokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Service status endpoints."
    },
    {
      "name": "Accounts",
      "description": "Registration, authentication, recovery, preferences, and access modes."
    },
    {
      "name": "Onboarding",
      "description": "Bootstrap, imports, and onboarding state."
    },
    {
      "name": "Chat",
      "description": "Encrypted chat messages and hosted-agent conversations."
    },
    {
      "name": "Model API",
      "description": "Model provider credentials, routes, and runtime configuration."
    },
    {
      "name": "MCP",
      "description": "User-configured MCP servers and connection management."
    },
    {
      "name": "Memory",
      "description": "Memory records, buckets, threads, and migration state."
    },
    {
      "name": "Identity",
      "description": "Agent identity and relationship state."
    },
    {
      "name": "Worldbook",
      "description": "Worldbook entries and contextual matching."
    },
    {
      "name": "Perception",
      "description": "Device perception reports, snapshots, and photos."
    },
    {
      "name": "Screen Context",
      "description": "Screen frames, sources, summaries, and analysis."
    },
    {
      "name": "Content",
      "description": "Encrypted content, key rotation, exports, and account reset."
    },
    {
      "name": "Proactive",
      "description": "Proactive jobs, scheduling, capture, and device events."
    },
    {
      "name": "Push",
      "description": "Push notification and Live Activity integration."
    },
    {
      "name": "Notify Relay",
      "description": "Push relay for self-hosted deployments: enroll a device for a relay token, then push APNs notifications and Live Activities through the official backend, which holds the APNs signing key."
    },
    {
      "name": "Notices",
      "description": "User-facing service notices."
    },
    {
      "name": "Diagnostics",
      "description": "Client diagnostic uploads."
    },
    {
      "name": "Tracking",
      "description": "Product telemetry events."
    },
    {
      "name": "Copy Text",
      "description": "Shared copy-text state."
    },
    {
      "name": "Agent",
      "description": "Agent-facing perception summaries."
    },
    {
      "name": "Other",
      "description": "Additional authenticated Feedling APIs."
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Healthz",
        "description": "Liveness + readiness probe. Public, no auth — used by heartbeats/compose.",
        "operationId": "healthz_healthz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "A critical dependency is unavailable — PostgreSQL is unreachable or the connection pool cannot hand out a connection in time. The body has the same shape as the 200 response, with top-level \"status\": \"unhealthy\" and the failing entry under \"checks\".",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "System"
        ],
        "security": [],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/access/claim-token": {
      "post": {
        "summary": "Access Link Token Claim",
        "operationId": "access_link_token_claim_v1_access_claim_token_post",
        "responses": {
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Link token consumed and an additional API key issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedApiKeyResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimTokenRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Consume a one-time link token and issue an additional API key. Existing keys remain active."
      }
    },
    "/v1/access/link-token": {
      "post": {
        "summary": "Access Link Token Create",
        "operationId": "access_link_token_create_v1_access_link_token_post",
        "responses": {
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "One-time link token created. It expires after the returned TTL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkTokenResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkTokenRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/access/modes": {
      "get": {
        "summary": "Access Modes",
        "operationId": "access_modes_v1_access_modes_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/access/modes/switch": {
      "post": {
        "summary": "Access Modes Switch",
        "operationId": "access_modes_switch_v1_access_modes_switch_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/account/recover/challenge": {
      "post": {
        "summary": "Account Recover Challenge",
        "operationId": "account_recover_challenge_v1_account_recover_challenge_post",
        "responses": {
          "200": {
            "description": "Single-use encrypted recovery challenge created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoverChallengeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoverChallengeRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/account/recover/verify": {
      "post": {
        "summary": "Account Recover Verify",
        "operationId": "account_recover_verify_v1_account_recover_verify_post",
        "responses": {
          "200": {
            "description": "Challenge verified and an additional API key issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedApiKeyResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoverVerifyRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Verify keypair possession and issue an additional API key for the existing account. Existing keys remain active."
      }
    },
    "/v1/account/reset": {
      "post": {
        "summary": "Account Reset",
        "operationId": "account_reset_v1_account_reset_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountResetRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Permanently delete the account, its data, and all of its API keys. This is not a per-key revocation endpoint."
      }
    },
    "/v1/agent/perception": {
      "get": {
        "summary": "Agent Perception",
        "operationId": "agent_perception_v1_agent_perception_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "signals",
            "in": "query",
            "required": false,
            "description": "Comma-separated agent signal keys to include.",
            "schema": {
              "type": "string"
            },
            "example": "now,motion"
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/agent/perception/digest": {
      "get": {
        "summary": "Agent Perception Digest",
        "operationId": "agent_perception_digest_v1_agent_perception_digest_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Lookback window in days.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            },
            "example": 30
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/agent/perception/history": {
      "get": {
        "summary": "Agent Perception History",
        "operationId": "agent_perception_history_v1_agent_perception_history_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "signal",
            "in": "query",
            "required": true,
            "description": "Agent signal key.",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "example": "motion"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Lookback window in days.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 14
            },
            "example": 14
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/agent/perception/recent_apps": {
      "get": {
        "summary": "Agent Perception Recent Apps",
        "operationId": "agent_perception_recent_apps_v1_agent_perception_recent_apps_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum app-open events to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Only include opens within the last N hours.",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            },
            "example": 24
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/agent/perception/trend": {
      "get": {
        "summary": "Agent Perception Trend",
        "operationId": "agent_perception_trend_v1_agent_perception_trend_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "signal",
            "in": "query",
            "required": true,
            "description": "Agent signal key.",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "example": "sleep"
          },
          {
            "name": "field",
            "in": "query",
            "required": false,
            "description": "Optional numeric field to aggregate.",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "example": "deep_minutes"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Lookback window in days.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 30
            },
            "example": 30
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/bootstrap": {
      "post": {
        "summary": "Bootstrap",
        "operationId": "bootstrap_v1_bootstrap_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/bootstrap/status": {
      "get": {
        "summary": "Bootstrap Status",
        "operationId": "bootstrap_status_v1_bootstrap_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/capture/force": {
      "post": {
        "summary": "Capture Force",
        "operationId": "capture_force_v1_capture_force_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Proactive"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/capture/tick": {
      "post": {
        "summary": "Capture Tick",
        "operationId": "capture_tick_v1_capture_tick_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Proactive"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/chat/history": {
      "get": {
        "summary": "Chat History",
        "operationId": "chat_history_v1_chat_history_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum messages in this page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 200
            },
            "example": 50
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return messages with ts strictly greater than this watermark.",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "example": 1783962000.0
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return older messages with ts strictly less than this watermark; takes precedence over since.",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "example": 1783962000.0
          },
          {
            "name": "include_image_body",
            "in": "query",
            "required": false,
            "description": "Set false to omit image and oversized inline bodies.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "include_image_bodies",
            "in": "query",
            "required": false,
            "description": "Compatibility alias for include_image_body.",
            "schema": {
              "type": "boolean"
            },
            "deprecated": true
          }
        ],
        "x-feedling-contract-level": "documented",
        "description": "Read encrypted chat history using timestamp watermarks. Use oldest_ts as before for older pages and latest_ts as since for newer pages."
      },
      "delete": {
        "summary": "Chat History Clear",
        "operationId": "chat_history_clear_v1_chat_history_delete",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryClearRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/chat/message": {
      "post": {
        "summary": "Chat Message",
        "operationId": "chat_message_v1_chat_message_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatTransportRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Store a user chat message as a v1 ciphertext envelope; the server never decrypts it. If the envelope carries a content_pk_fpr label that does not match the user's currently registered content key, the write is rejected with 409 content_pk_fpr_mismatch (re-fetch whoami and re-seal); unlabeled envelopes are accepted for compatibility."
      }
    },
    "/v1/chat/messages/{message_id}/body": {
      "get": {
        "summary": "Chat Message Body",
        "operationId": "chat_message_body_v1_chat_messages__message_id__body_get",
        "parameters": [
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Message Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Chat"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/chat/poll": {
      "get": {
        "summary": "Chat Poll",
        "operationId": "chat_poll_v1_chat_poll_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return messages newer than this Unix timestamp.",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "example": 1783962000.0
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "description": "Long-poll wait in seconds; the server caps it at 60.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 60,
              "default": 30
            },
            "example": 30
          },
          {
            "name": "consumer_id",
            "in": "query",
            "required": false,
            "description": "Stable resident consumer identifier.",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "example": "resident_mbp_01"
          },
          {
            "name": "claim",
            "in": "query",
            "required": false,
            "description": "Whether this poll may claim queued work.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": true
          },
          {
            "name": "X-Feedling-Consumer",
            "in": "header",
            "required": false,
            "description": "Resident consumer name. Used when X-Feedling-Consumer-Id is absent.",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "example": "feedling-resident"
          },
          {
            "name": "X-Feedling-Consumer-Id",
            "in": "header",
            "required": false,
            "description": "Stable resident consumer identifier.",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "example": "resident_mbp_01"
          },
          {
            "name": "X-Feedling-Consumer-Version",
            "in": "header",
            "required": false,
            "description": "Resident consumer release version.",
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "example": "1.4.0"
          },
          {
            "name": "X-Feedling-Consumer-Commit",
            "in": "header",
            "required": false,
            "description": "Resident consumer source revision.",
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "example": "a1b2c3d"
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/chat/response": {
      "post": {
        "summary": "Chat Response",
        "operationId": "chat_response_v1_chat_response_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "consumer_id",
            "in": "query",
            "required": false,
            "description": "Stable resident consumer identifier.",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "example": "resident_mbp_01"
          },
          {
            "name": "X-Feedling-Consumer",
            "in": "header",
            "required": false,
            "description": "Resident consumer name. Used when X-Feedling-Consumer-Id is absent.",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "example": "feedling-resident"
          },
          {
            "name": "X-Feedling-Consumer-Id",
            "in": "header",
            "required": false,
            "description": "Stable resident consumer identifier.",
            "schema": {
              "type": "string",
              "maxLength": 160
            },
            "example": "resident_mbp_01"
          },
          {
            "name": "X-Feedling-Consumer-Version",
            "in": "header",
            "required": false,
            "description": "Resident consumer release version.",
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "example": "1.4.0"
          },
          {
            "name": "X-Feedling-Consumer-Commit",
            "in": "header",
            "required": false,
            "description": "Resident consumer source revision.",
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "example": "a1b2c3d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatResponseRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Store an agent reply as a v1 ciphertext envelope (plus optional thinking envelope). Replies carrying reply_to_message_id are finalized atomically across backend workers: exactly one request inserts the reply and marks the parent answered, while a losing contender returns 409 already_answered without storing its reply. role=system notices bypass reply exclusivity. Labeled envelopes sealed to a key that is no longer the user's registered content key are rejected with 409 content_pk_fpr_mismatch — the writer should re-fetch whoami, re-seal, and retry once."
      }
    },
    "/v1/chat/verify_loop": {
      "post": {
        "summary": "Chat Verify Loop",
        "operationId": "chat_verify_loop_v1_chat_verify_loop_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/content/export": {
      "get": {
        "summary": "Content Export",
        "operationId": "content_export_v1_content_export_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/content/rewrap-to-current-key": {
      "post": {
        "summary": "Content Rewrap To Current Key",
        "operationId": "content_rewrap_to_current_key_v1_content_rewrap_to_current_key_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/content/swap": {
      "post": {
        "summary": "Content Swap",
        "operationId": "content_swap_v1_content_swap_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Content"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/copytext": {
      "get": {
        "summary": "Get Copytext",
        "operationId": "get_copytext_v1_copytext_get",
        "responses": {
          "200": {
            "description": "Current copy-text document.",
            "headers": {
              "ETag": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "304": {
            "description": "The supplied If-None-Match value still identifies the current document.",
            "headers": {
              "ETag": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Copy Text"
        ],
        "security": [],
        "parameters": [
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Return 304 when the current ETag matches.",
            "schema": {
              "type": "string"
            },
            "example": "\"copytext-42\""
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/device/events": {
      "get": {
        "summary": "Device Events Get",
        "operationId": "device_events_get_v1_device_events_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Proactive"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return events newer than this Unix timestamp.",
            "schema": {
              "type": "number",
              "minimum": 0
            },
            "example": 1783962000.0
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum events to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            },
            "example": 100
          }
        ],
        "x-feedling-contract-level": "documented"
      },
      "post": {
        "summary": "Device Events Post",
        "operationId": "device_events_post_v1_device_events_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Proactive"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/diagnostics/logs": {
      "post": {
        "summary": "Upload Logs",
        "operationId": "upload_logs_v1_diagnostics_logs_post",
        "responses": {
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Diagnostic log uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Diagnostics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "meta": {
                    "type": "string",
                    "description": "JSON-encoded diagnostic metadata."
                  }
                }
              }
            }
          }
        },
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/dream/status": {
      "get": {
        "summary": "Dream Status",
        "operationId": "dream_status_v1_dream_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Proactive"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/dream/tick": {
      "post": {
        "summary": "Dream Tick",
        "operationId": "dream_tick_v1_dream_tick_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Proactive"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/genesis/imports": {
      "get": {
        "summary": "Genesis Import List",
        "operationId": "genesis_import_list_v1_genesis_imports_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum import jobs to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          }
        ],
        "x-feedling-contract-level": "documented"
      },
      "post": {
        "summary": "Genesis Import Create",
        "operationId": "genesis_import_create_v1_genesis_imports_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Import job created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/genesis/imports/plaintext": {
      "post": {
        "summary": "Genesis Import Plaintext",
        "operationId": "genesis_import_plaintext_v1_genesis_imports_plaintext_post",
        "responses": {
          "200": {
            "description": "Previously completed matching plaintext import reused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "202": {
            "description": "Plaintext import accepted for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility",
        "description": "Queue an asynchronous plaintext import. In update_identity mode, the uploaded role card creates an identity when absent or updates the existing card while preserving its relationship anchor by default. Reusing a completed client_job_id returns the existing job."
      }
    },
    "/v1/genesis/imports/{job_id}": {
      "get": {
        "summary": "Genesis Import Status",
        "operationId": "genesis_import_status_v1_genesis_imports__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "include_missing",
            "in": "query",
            "required": false,
            "description": "Include missing chunk sequence numbers.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/genesis/imports/{job_id}/chunks/{seq}": {
      "put": {
        "summary": "Genesis Import Put Chunk",
        "operationId": "genesis_import_put_chunk_v1_genesis_imports__job_id__chunks__seq__put",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "seq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Seq"
            }
          },
          {
            "name": "X-Envelope-Meta",
            "in": "header",
            "required": false,
            "description": "JSON-encoded encrypted-envelope metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Byte-Start",
            "in": "header",
            "required": false,
            "description": "Inclusive plaintext byte offset.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "X-Byte-End",
            "in": "header",
            "required": false,
            "description": "Exclusive plaintext byte offset.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "X-Content-SHA256",
            "in": "header",
            "required": false,
            "description": "SHA-256 of the plaintext content.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Fa-f0-9]{64}$"
            }
          },
          {
            "name": "X-Ciphertext-SHA256",
            "in": "header",
            "required": false,
            "description": "SHA-256 of this ciphertext chunk.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Fa-f0-9]{64}$"
            }
          },
          {
            "name": "envelope_meta",
            "in": "query",
            "required": false,
            "description": "Compatibility fallback for X-Envelope-Meta.",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "byte_start",
            "in": "query",
            "required": false,
            "description": "Compatibility fallback for X-Byte-Start.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "deprecated": true
          },
          {
            "name": "byte_end",
            "in": "query",
            "required": false,
            "description": "Compatibility fallback for X-Byte-End.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "deprecated": true
          },
          {
            "name": "content_sha256",
            "in": "query",
            "required": false,
            "description": "Compatibility fallback for X-Content-SHA256.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Fa-f0-9]{64}$"
            },
            "deprecated": true
          },
          {
            "name": "ciphertext_sha256",
            "in": "query",
            "required": false,
            "description": "Compatibility fallback for X-Ciphertext-SHA256.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Fa-f0-9]{64}$"
            },
            "deprecated": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": true,
          "description": "Send either a JSON chunk document or raw ciphertext with metadata headers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/genesis/imports/{job_id}/finalize": {
      "post": {
        "summary": "Genesis Import Finalize",
        "operationId": "genesis_import_finalize_v1_genesis_imports__job_id__finalize_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "202": {
            "description": "Upload finalized and awaiting reducer output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/genesis/imports/{job_id}/outputs": {
      "post": {
        "summary": "Genesis Import Apply Outputs",
        "operationId": "genesis_import_apply_outputs_v1_genesis_imports__job_id__outputs_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/genesis/persona_backfill": {
      "post": {
        "summary": "Genesis Persona Backfill",
        "operationId": "genesis_persona_backfill_v1_genesis_persona_backfill_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "202": {
            "description": "Persona backfill enqueued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/genesis/resident/pending": {
      "get": {
        "summary": "Genesis Resident Pending",
        "operationId": "genesis_resident_pending_v1_genesis_resident_pending_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "consumer_id",
            "in": "query",
            "required": true,
            "description": "Stable resident consumer identifier.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "example": "resident_mbp_01"
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/genesis/resident/{job_id}/complete": {
      "post": {
        "summary": "Genesis Resident Complete",
        "operationId": "genesis_resident_complete_v1_genesis_resident__job_id__complete_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/genesis/resident/{job_id}/heartbeat": {
      "post": {
        "summary": "Genesis Resident Heartbeat",
        "operationId": "genesis_resident_heartbeat_v1_genesis_resident__job_id__heartbeat_post",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/history_import/status/{job_id}": {
      "get": {
        "summary": "History Import Status",
        "operationId": "history_import_status_v1_history_import_status__job_id__get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/history_import/upload": {
      "post": {
        "summary": "History Import Upload",
        "operationId": "history_import_upload_v1_history_import_upload_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "202": {
            "description": "History import queued or resumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/identity/actions": {
      "post": {
        "summary": "Identity Actions",
        "operationId": "identity_actions_v1_identity_actions_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/identity/changes": {
      "get": {
        "summary": "Identity Changes",
        "operationId": "identity_changes_v1_identity_changes_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum changes to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "example": 50
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Return changes whose ISO-8601 ts is strictly newer than this value.",
            "schema": {
              "type": "string"
            },
            "example": "2026-07-01T00:00:00Z"
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/identity/get": {
      "get": {
        "summary": "Identity Get",
        "operationId": "identity_get_v1_identity_get_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/identity/init": {
      "post": {
        "summary": "Identity Init",
        "operationId": "identity_init_v1_identity_init_post",
        "responses": {
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Encrypted identity created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/identity/relationship_anchor": {
      "post": {
        "summary": "Identity Relationship Anchor",
        "operationId": "identity_relationship_anchor_v1_identity_relationship_anchor_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/identity/replace": {
      "post": {
        "summary": "Identity Replace",
        "operationId": "identity_replace_v1_identity_replace_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeFormJsonObject"
              }
            }
          }
        },
        "x-feedling-contract-level": "compatibility"
      }
    },
    "/v1/identity/verify": {
      "get": {
        "summary": "Identity Verify",
        "operationId": "identity_verify_v1_identity_verify_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Identity"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/mcp/envelopes": {
      "get": {
        "summary": "Mcp Envelopes",
        "operationId": "mcp_envelopes_v1_mcp_envelopes_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "MCP"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/mcp/servers": {
      "get": {
        "summary": "Mcp List",
        "operationId": "mcp_list_v1_mcp_servers_get",
        "responses": {
          "200": {
            "description": "The caller's user-configured MCP servers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-feedling-contract-level": "documented",
        "description": "List the caller's user-configured MCP servers. Secrets (url, headers, ca_pem) are never returned; url_hint is the hostname only and header_names lists header keys only."
      },
      "post": {
        "summary": "Mcp Upsert",
        "operationId": "mcp_upsert_v1_mcp_servers_post",
        "responses": {
          "200": {
            "description": "Server created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerRecord"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "cannot_encrypt — the server-side envelope could not be built; retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpServerUpsertRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Create or update a user-configured MCP server (matched by name). http:// and https:// URLs are both accepted, including loopback and private-network hosts and IP literals — this backend never dials the URL at save time (see POST .../test), only your agent runtime does. Hosted (cloud-run) agents cannot reach machines on your home or office network; expose a local MCP server through a tunnel (e.g. Cloudflare Tunnel, Tailscale Funnel, ngrok) to a public address first. To use a self-signed or private-CA server, paste the issuing CA certificate (PEM, max 32768 bytes) into ca_pem — this adds the CA to the trust store used for this server; it does not disable certificate verification, and the server still has to present a certificate chaining to that CA. http:// sends all configured headers, including API keys, in plaintext over the network; this is an explicit, informed choice. Possible 400 error kinds: invalid_name, invalid_url, invalid_headers, too_many_headers, headers_too_large, forbidden_header, invalid_ca, ca_too_large, too_many_servers. A 409 cannot_encrypt means the server-side envelope could not be built."
      }
    },
    "/v1/mcp/servers/{name}": {
      "patch": {
        "summary": "Mcp Patch",
        "operationId": "mcp_patch_v1_mcp_servers__name__patch",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated server record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found — no server with that name exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpServerPatchRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Toggle a user-configured MCP server's enabled flag. 404 not_found when no server with that name exists."
      },
      "delete": {
        "summary": "Mcp Delete",
        "operationId": "mcp_delete_v1_mcp_servers__name__delete",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found — no server with that name exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-feedling-contract-level": "documented",
        "description": "Delete a user-configured MCP server. 404 not_found when no server with that name exists."
      }
    },
    "/v1/mcp/servers/{name}/test": {
      "post": {
        "summary": "Mcp Test",
        "operationId": "mcp_test_v1_mcp_servers__name__test_post",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Probe succeeded; the server answered initialize and tools/list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServerTestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "not_found — no server with that name exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "MCP"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-feedling-contract-level": "documented",
        "description": "Best-effort connectivity probe (MCP initialize -> tools/list) run from this backend's own network, offered purely as a convenience for validating publicly reachable https:// servers. A 400 unreachable_from_backend response does NOT mean the server failed to save — it was already saved successfully by POST /v1/mcp/servers. It only means this backend process could not reach the host, typically because it is a loopback/private-network address or a tunnel endpoint that only your agent's environment can reach. For those servers, skip this probe and instead ask your agent to call the MCP server directly in chat to verify it. Other 400 kinds: dns (hostname did not resolve), tls (certificate/TLS handshake failure — check ca_pem), codex_cert_chain_required (a hosted codex agent uses a rustls TLS stack that rejects a CA certificate presented as the server's own leaf/end-entity certificate; reissue the server with a proper CA+leaf chain — a pasted ca_pem does not fix this, since rustls rejects the leaf's shape regardless of what is trusted), timeout (connect/read timeout, or the whole probe exceeded its 45-second wall-clock ceiling — e.g. a legacy HTTP+SSE endpoint answering with a never-ending event stream), http_401/http_403/http_404/http_4xx/http_5xx (server responded with an HTTP error), protocol (malformed MCP handshake), decrypt_failed. 404 not_found when no server with that name exists."
      }
    },
    "/v1/memory/actions": {
      "post": {
        "summary": "Memory Actions",
        "operationId": "memory_actions_v1_memory_actions_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Memory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryActionsRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented",
        "description": "Apply up to 20 memory actions in order. The batch is not transactional and Idempotency-Key is not supported."
      }
    },
    "/v1/memory/add": {
      "post": {
        "summary": "Memory Add",
        "operationId": "memory_add_v1_memory_add_post",
        "responses": {
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Encrypted memory created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Memory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryAddRequest"
              }
            }
          }
        },
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/memory/buckets": {
      "get": {
        "summary": "Memory Buckets",
        "operationId": "memory_buckets_v1_memory_buckets_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Memory"
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/memory/capture_jobs": {
      "get": {
        "summary": "Memory Capture Jobs",
        "operationId": "memory_capture_jobs_v1_memory_capture_jobs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum capture jobs to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            },
            "example": 30
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/memory/delete": {
      "delete": {
        "summary": "Memory Delete",
        "operationId": "memory_delete_v1_memory_delete_delete",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Memory identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "example": "mem_abc123"
          }
        ],
        "x-feedling-contract-level": "documented"
      }
    },
    "/v1/memory/fetch": {
      "post": {
        "summary": "Memory Fetch",
        "operationId": "memory_fetch_v1_memory_fetch_post",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
[...]
